body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    gap: 30px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    flex-basis: 100%;
}

.hero .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}


.hero .secondary-text {
    color: #e5e7ebcf;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882F6; 
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: 0px;
    border-radius: 5px;
}

.placeholder{
    display: flex;
    color: white;
    background-color: #edf0f47a;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    margin-bottom: 100px;
}

.information-header {
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.info-item {
    display: flex;
    flex-direction: column;
    color:#00000094;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}