body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
}

.hero > .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.placeholder{
    color: white;
    background-color: #edf0f47a;
    padding: 50px 30px;
}